{% extends "Layouts/layout.html" %}
{% block content %}
<main>
    <div class="page-heading about-heading header-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="text-content">
                <h4>About us</h4>
                <h2>Meet the team</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
      <div class="best-features about-features">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>Why choose this?</h2>
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-image">
                <img src="../static/assets1/images/feature-image.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="left-content">
                <h4>Why was this initiated &amp; What motivated us?</h4>
                <p>Our Project is aimed to make the admission process paperless and hassle-free on the student end as well as the college end. Finding a good school has been difficult most of the time and getting admission there is even worse. We all remember standing in those long lines for 3 hrs just to get the application form and waiting for 4 hrs or more to get the admission into a top tier college. We wanted to take this entire process virtually. From recommending the best college based on his interest and marks to providing an easy and safer way of managing student documents to a hassle-free way of applying to a college.Colleges and Schools and register with us and conduct the admission process virtually and all at one place. We are making a Flask web application, we are using collaborative filtering to recommend the best school. We have an FAQ bot which guides the Applicants on the various processes. The college will be able to customize the bot where they can add Q and A .
  
                  This project is aimed at making the admission process hassle free and seamless which saves a lot of botheration and uncententy while giving you the assurance and acknowledgement instantly the moment you fill up your credentials step by step wiz the TC marksheets, id proofs, photographs and after the successful completion of the process you are taken to a gateway of payment (if any) and if the process is complete you are allotted a token/id and you are intimated/posted of your admission updates periodically. It gives you the freedom to apply in all eligible colleges and schools spread in nearby locality and far of globe who are members of this application . 
                  The commercial viability of this application all the parents and the students in fact are in dire need of a universal app which facilitates them to have access to the nearby and at the far end of college and university at a global extent . 
                  This app may become most sought after by all the educational institutions/universities because it gives them access to the universal student and parent fraternity.
                </p>
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      
      <div class="team-members">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>Our Team Members</h2>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-member">
                <div class="thumb-container">
                  <img src="../static/assets1/images/team_1.png" alt=""height = "367.31px">
                  <div class="hover-effect">
                    <div class="hover-content">
                      <ul class="social-icons">
                        <li><a href="https://twitter.com/Anush_krishna_v"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/anush-krishna-v-8270941a0/"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://anushkrishnav.rocks/" class="twitter"><i class="fas fa-globe"></i></a></li>
                        
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="down-content">
                  <h4>Anush Krishna </h4>
                  <span>Back-end &amp; Front-end</span>
                  
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-member">
                <div class="thumb-container">
                  <img src="../static/assets1/images/team_2.jpg" alt="" height = "367.31px">
                  <div class="hover-effect">
                    <div class="hover-content">
                      <ul class="social-icons">
                        <li><a href="https://twitter.com/Jappan07"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/jappanjeet-singh/"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/Jappan07" class="github"><i class="fab fa-github"></i></a></li>                          
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="down-content">
                  <h4>Jappanjeet Singh</h4>
                  <span>Front-end developer</span>
                  
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-member">
                <div class="thumb-container">
                  <img src="../static/assets1/images/team_3.jpeg" alt="" height = "367.31px">
                  <div class="hover-effect">
                    <div class="hover-content">
                      <ul class="social-icons">
                        <li><a href="https://medium.com/@akshita2k"><i class="fab fa-medium"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/akshita-sharma-15a703111/"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/akshita2k" class="github"><i class="fab fa-github"></i></a></li>  
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="down-content">
                  <h4>Akshita Sharma</h4>
                  <span>Bot &amp; Front-end </span>
                  
                </div>
              </div>
            </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
  
  
      <div class="services">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-gear"></i>
                </div>
                <div class="down-content">
                  <h4>Apply to Schools</h4>
                  <p>Start your application here</p>
                  <a href="#" class="filled-button">Apply</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-gear"></i>
                </div>
                <div class="down-content">
                  <h4>Find your Schools</h4>
                  <p>Don't know where to apply yet? Check out your nearby schools!</p>
                  <a href="#" class="filled-button">FindmySchool</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-gear"></i>
                </div>
                <div class="down-content">
                  <h4>Talk to me</h4>
                  <p>You were lost during the process? Let us help you so that you can make the most out of your time with us!</p>
                  <a href="#" class="filled-button">Talk to me</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
      <div class="happy-clients">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>Happy we could help!</h2>
              </div>
            </div>
            <div class="col-md-12">
              <div class="owl-clients owl-carousel">
                <div class="client-item">
                  <img src="../static/assets1/images/client-01.png" alt="1">
                </div>
                
                <div class="client-item">
                  <img src="../static/assets1/images/client-01.png" alt="2">
                </div>
                
                <div class="client-item">
                  <img src="../static/assets1/images/client-01.png" alt="3">
                </div>
                
                <div class="client-item">
                  <img src="../static/assets1/images/client-01.png" alt="4">
                </div>
                
                <div class="client-item">
                  <img src="../static/assets1/images/client-01.png" alt="5">
                </div>
                
                <div class="client-item">
                  <img src="../static/assets1/images/client-01.png" alt="6">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
</main>
{% endblock %}