{% extends "Layouts/layout.html" %}
{% block content %}
<main>

    <!--? slider Area Start-->
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div style="margin-top: 15px;" class="hero__caption">
                                <h1 data-animation="bounceIn" data-delay="0.2s">About us</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--? Team -->
    <section class="team-area section-padding40 fix">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center mb-55">
                        <h2>Developers</h2>
                    </div>
                </div>
            </div>
            <div class="team-active">
                <div class="single-cat text-center">
                    <div class="cat-icon">
                        <img style="width:20rem;border-radius: 50%;border: 10px solid #7579e7;"
                            src="../static/assets/img/gallery/akshita.jpeg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="https://www.linkedin.com/in/akshita-sharma-15a703111/">Akshita Sharma</a></h5>
                    </div>
                </div>
                <div class="single-cat text-center">
                    <div class="cat-icon">
                        <img style="width:20rem;border-radius: 50%;border: 10px solid #7579e7;"
                            src="../static/assets/img/gallery/anush.jpeg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="https://www.linkedin.com/in/anush-krishna-v-8270941a0/">Anush Krishna</a></h5>
                    </div>
                </div>
                <div class="single-cat text-center">
                    <div class="cat-icon">
                        <img style="width:20rem;border-radius: 50%;border: 10px solid #7579e7;"
                            src="../static/assets/img/gallery/jappan.jpeg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="https://www.linkedin.com/in/jappanjeet-singh/">Jappanjeet Singh</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}