{% extends "Layouts/layout.html" %}
{% block content %}
<main>

    <!--? slider Area Start-->
    <section class="slider-area ">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 col-md-12">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay="0.2s">Hello {{ current_user.username }} !!
                                </h1>
                                <h1 data-animation="fadeInLeft" data-delay="0.2s">Let us find your perfect School<br>
                                </h1>
                                <p data-animation="fadeInLeft" data-delay="0.4s">Apply and learn from world-class
                                    universities and Schools</p>
                                <a href="#" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Join for
                                    Free</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="banner header-text">
        <div class="owl-banner owl-carousel">
          <div class="banner-item-01">
            <div class="text-content">
              <h4>Finding schools near you?</h4>
              <h2>Discover the schools of your choice!</h2>
            </div>
          </div>
          <div class="banner-item-02">
            <div class="text-content">
              <h4>New to the city?</h4>
              <h2>Get your best schools nearby </h2>
            </div>
          </div>
          <div class="banner-item-03">
            <div class="text-content">
              <h4>Last Minute</h4>
              <h2>Grab last minute deals</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- Banner Ends Here -->
  
      <div class="latest-products">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>Let's get your choice! </h2>
                <a href="/products">View all schools <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="product-item">
                <a href="#"><img src="../static/assets1/images/product_01.jpg" alt=""></a>
                <div class="down-content">
                  <a href="#"><h4>School Name</h4></a>
                  <h3>Apply</h3>
                  <p>School description</p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>Review</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="product-item">
                <a href="#"><img src="../static/assets1/images/product_02.jpg" alt=""></a>
                <div class="down-content">
                  <a href="#"><h4>School Name</h4></a>
                  <h3>Apply</h3>
                  <p>School description</p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>Reviews</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="product-item">
                <a href="#"><img src="../static/assets1/images/product_03.jpg" alt=""></a>
                <div class="down-content">
                  <a href="#"><h4>School Name</h4></a>
                  <h3>Apply</h3>
                  <p>School description</p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>Reviews</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="product-item">
                <a href="#"><img src="../static/assets1/images/product_04.jpg" alt=""></a>
                <div class="down-content">
                  <a href="#"><h4>School Name</h4></a>
                  <h3>Apply</h3>
                  <p>School description</p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>Reviews</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="product-item">
                <a href="#"><img src="../static/assets1/images/product_05.jpg" alt=""></a>
                <div class="down-content">
                  <a href="#"><h4>School Name</h4></a>
                  <h3>Apply</h3>
                  <p>School description</p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>Reviews</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="product-item">
                <a href="#"><img src="../static/assets1/images/product_06.jpg" alt=""></a>
                <div class="down-content">
                  <a href="#"><h4>School name</h4></a>
                  <h3>Apply</h3>
                  <p>School description</p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>Reviews</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="best-features">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>About Find my School</h2>
              </div>
            </div>
            <div class="col-md-6">
              <div class="left-content">
                <h4>Looking for the best schools nearby?</h4>
                This project is aimed at making the admission process hassle free and seamless which saves a lot of botheration and uncententy while giving you the assurance and acknowledgement instantly the moment you fill up your credentials step by step wiz the TC marksheets, id proofs, photographs and after the successful completion of the process you are taken to a gateway of payment (if any) and if the process is complete you are allotted a token/id and you are intimated/posted of your admission updates periodically. It gives you the freedom to apply in all eligible colleges and schools spread in nearby locality and far of globe who are members of this application . 
                The commercial viability of this application all the parents and the students in fact are in dire need of a universal app which facilitates them to have access to the nearby and at the far end of college and university at a global extent . 
                This app may become most sought after by all the educational institutions/universities because it gives them access to the universal student and parent fraternity .
                </p>
                <ul class="featured-list">
                  <li><a href="#">Apply at your ease</a></li>
                  <li><a href="#">Converse with us</a></li>
                  <li><a href="#">Look at your nearby schools</a></li>
                  <li><a href="#">Mangae your Personalised Calendar</a></li>
                  <li><a href="#">Meet us!</a></li>
                </ul>
                <a href="/about" class="filled-button">Know More!</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-image">
                <img src="../static/assets1/images/feature-image.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
      <div class="call-to-action">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="inner-content">
                <div class="row">
                  <div class="col-md-8">
                    <h4>Features at <em>Find my School</em>.</h4>
                    <p> From recommending the best college based on his interest and marks to providing an easy and safer way of managing student documents to a hassle-free way of applying to a college.Colleges and Schools and register with us and conduct the admission process virtually and all at one place. We are making a Flask web application, we are using collaborative filtering to recommend the best school. We have an FAQ bot which guides the Applicants on the various processes. The college will be able to customize the bot where they can add Q and A .
                    </p>
                  </div>
                  <div class="col-md-4">
                    <a href="#" class="filled-button">Apply Now!!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
 
</main>
{% endblock %}