{% extends "Layouts/layout.html" %}
{% block content %}
<main>

    <!--? slider Area Start-->
    <section class="slider-area ">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 col-md-12">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay="0.2s">Hello {{ current_user.username }} !!
                                </h1>
                                <h1 data-animation="fadeInLeft" data-delay="0.2s">Let us find your perfect School<br>
                                </h1>
                                <p data-animation="fadeInLeft" data-delay="0.4s">Apply and learn from world-class
                                    universities and Schools</p>
                                <a href="#" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Join for
                                    Free</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ? services-area -->
    <div class="services-area">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div style="padding:50px;background-color: #85FFBD;background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);"
                        class="single-services mb-30">
                        <div class="features-icon">
                            <img src="../static/assets/img/icon/icon1.svg" alt="">
                        </div>
                        <div style="display:flex;justify-content:center;align-items:center" class="features-caption">
                            <h3>Get Nearby Schools</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div style="padding:50px;background-color: #85FFBD;background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);"
                        class="single-services mb-30">
                        <div class="features-icon">
                            <img src="../static/assets/img/icon/icon2.svg" alt="">
                        </div>
                        <div style="display:flex;justify-content:center;align-items:center" class="features-caption">
                            <h3>Alumini Blog</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div style="padding:50px;background-color: #85FFBD;background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);"
                        class="single-services mb-30">
                        <div class="features-icon">
                            <img src="../static/assets/img/icon/icon3.svg" alt="">
                        </div>
                        <div style="display:flex;justify-content:center;align-items:center" class="features-caption">
                            <h3>Life time access for free</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section style="margin-top: 50px;" class="about-area2 fix pb-padding">
        <div class="support-wrapper align-items-center">
            <div class="right-content2">
                <!-- img -->
                <div class="right-img">
                    <img src="../static/assets/img/gallery/about2.png" alt="">
                </div>
            </div>
            <div class="left-content2">
                <!-- section tittle -->
                <div class="section-tittle section-tittle2 mb-20">
                    <div class="front-text">
                        <h2 class="">Take the next step
                            towards your journey
                            to find the best educational institute.</h2>
                        <a href="#" class="btn">Join now for Free</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Area End -->
</main>
{% endblock %}