{% extends "Layouts/layout.html" %}
{% block content %}

<div class = "forrem">
    <main class="login-body" data-vide-bg="../static/assets/img/login-bg.mp4">
        <!-- Login Admin -->
        <form class="form-default" action="" method="POST" novalidate>
            
            <div class="login-form">
                <!-- logo-login -->
                <div class="logo-login">
                    <a href="/"><img src="../static/assets/img/logo/loder.png" alt=""></a>
                </div>
                <h2>Login Here</h2>
                {{ form.hidden_tag() }}
                <div class="form-input">
                    {{ form.username.label }}<br>
                    {{ form.username(size=50) }}
                </div>
                <div class="form-input">
                    {{ form.email.label }}<br>
                    {{ form.email(size=50) }}
                </div>
                <div class="form-input">
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}
                    
                </div>
               
                
                <div class="containers">
                {{ form.remember_me(class_ = "checkmarks", id = "checkmarks") }}
                <label class="containers"> Remember me</label>
            </div>
                <div class="form-input pt-30">
                    {{ form.submit() }}
                </div>
                
                <!-- Forget Password -->
                <a href="#" class="forget">Forget Password</a>
                <!-- Forget Password -->
                <a href="{{ url_for('register') }}" class="registration">Registration</a>
            </div>
        </form>
        <!-- /end login form -->
    </main>
    </div>
    {% endblock %}
</div>
{% block loginpg %} 
<link rel="stylesheet" type= "text/css" href="{{url_for('static',filename='assets/css/check.css')}}">
{% endblock loginpg %}

