{% extends "Layouts/layout.html" %}
{% block content %}

<!-- Register -->

<main class="login-body" data-vide-bg="../static/assets/img/login-bg.mp4">
    <!-- Login Admin -->
    <form class="form-default" action="login-bg.mp4" method="POST">
        
        <div class="login-form">
            <!-- logo-login -->
            <div class="logo-login">
                <a href="index.html"><img src="../static/assets/img/logo/loder.png" alt=""></a>
            </div>
            <h2>Register Here</h2>

            <div class="form-input">
                <label for="name">Full name</label>
                <input  type="text" name="name" placeholder="Full name">
            </div>
            <div class="form-input">
                <label for="name">Email Address</label>
                <input type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-input">
                <label for="name">Password</label>
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="form-input">
                <label for="name">Confirm Password</label>
                <input type="password" name="password" placeholder="Confirm Password">
            </div>
            <div class="form-input pt-30">
                <input type="submit" name="submit" value="Registration">
            </div>
            <!-- Forget Password -->
            <a href="/login" class="registration">login</a>
        </div>
    </form>
    <!-- /end login form -->
</main>
{% endblock %}
