{% extends "Layouts/layout.html" %}
{% block content %}

<!-- Register -->

<main class="login-body" data-vide-bg="../static/assets/img/login-bg.mp4">
    <!-- Login Admin -->
    <form class="form-default" action=" " method="POST">
        
        <div class="login-form">
            <!-- logo-login -->
            <div class="logo-login">
                <a href="/"><img src="../static/assets/img/logo/loder.png" alt=""></a>
            </div>
            <h2>Register Here</h2>
            {{ form.hidden_tag() }}
            <div class="form-input">
                <label for="name">User name</label>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            <div class="form-input">
                <label for="name">Email Address</label>
                {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            <div class="form-input">
                <label for="name">Password</label>
                {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            <div class="form-input">
                <label for="name">Confirm Password</label>
                {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            <div class="form-input pt-30">
                {{ form.submit() }}
            </div>
            <!-- Forget Password -->
            <a href="/login" class="registration">login</a>
        </div>
    </form>
    <!-- /end login form -->
</main>
{% endblock %}
