<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_acfd337e67fd4cfea6bfd3bf7a3a12a1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_acfd337e67fd4cfea6bfd3bf7a3a12a1" ></div>
        
</body>
<script>    
    
            var map_acfd337e67fd4cfea6bfd3bf7a3a12a1 = L.map(
                "map_acfd337e67fd4cfea6bfd3bf7a3a12a1",
                {
                    center: [13.025, 80.2575],
                    crs: L.CRS.EPSG3857,
                    zoom: 30,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_68cc0874a5584bf1b9f08bf4fecbf663 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
            var marker_4d3fe70dfbe54e7aab4eaff2b6d760ae = L.marker(
                [13.025, 80.2575],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
            var icon_ff0fb4d42af94c47a3f4912c310a3cbc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4d3fe70dfbe54e7aab4eaff2b6d760ae.setIcon(icon_ff0fb4d42af94c47a3f4912c310a3cbc);
        
    
        var popup_332213f5bd9248a084a542623ad10a3b = L.popup({"maxWidth": "100%"});

        
            var html_60ea4a32e5a3414e916394ca1cfb8ca2 = $(`<div id="html_60ea4a32e5a3414e916394ca1cfb8ca2" style="width: 100.0%; height: 100.0%;">You</div>`)[0];
            popup_332213f5bd9248a084a542623ad10a3b.setContent(html_60ea4a32e5a3414e916394ca1cfb8ca2);
        

        marker_4d3fe70dfbe54e7aab4eaff2b6d760ae.bindPopup(popup_332213f5bd9248a084a542623ad10a3b)
        ;

        
    
    
            var marker_a6f87e8aa92948be8c0d5167773d0f90 = L.marker(
                [13.0328517, 80.2589261],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_f3bb5b829ef443f9aa26fb8fb8acb7e1 = L.popup({"maxWidth": "100%"});

        
            var html_9fdd0a3e0cc44294846a6314094abeb6 = $(`<div id="html_9fdd0a3e0cc44294846a6314094abeb6" style="width: 100.0%; height: 100.0%;">MINDSCREEN FILM INSTITUTE (MFi)</div>`)[0];
            popup_f3bb5b829ef443f9aa26fb8fb8acb7e1.setContent(html_9fdd0a3e0cc44294846a6314094abeb6);
        

        marker_a6f87e8aa92948be8c0d5167773d0f90.bindPopup(popup_f3bb5b829ef443f9aa26fb8fb8acb7e1)
        ;

        
    
    
            var marker_79f8e4eae7484fc3acce493f4ae02ce4 = L.marker(
                [13.0099175, 80.2507416],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_e1cc5ad9547543a58b179a18e9c42740 = L.popup({"maxWidth": "100%"});

        
            var html_11866ef322b24637a6532f5f23678b74 = $(`<div id="html_11866ef322b24637a6532f5f23678b74" style="width: 100.0%; height: 100.0%;">Bala Vidya Mandir Senior Secondary School</div>`)[0];
            popup_e1cc5ad9547543a58b179a18e9c42740.setContent(html_11866ef322b24637a6532f5f23678b74);
        

        marker_79f8e4eae7484fc3acce493f4ae02ce4.bindPopup(popup_e1cc5ad9547543a58b179a18e9c42740)
        ;

        
    
    
            var marker_f862696d9bb94797bf38d7c3db9c390e = L.marker(
                [13.0309745, 80.2515595],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_9cef790b75274fdaa27fc180e6939714 = L.popup({"maxWidth": "100%"});

        
            var html_ee8afb66906245bea6ab78aae8186a2c = $(`<div id="html_ee8afb66906245bea6ab78aae8186a2c" style="width: 100.0%; height: 100.0%;">136.1 Yoga and Wellness Academy</div>`)[0];
            popup_9cef790b75274fdaa27fc180e6939714.setContent(html_ee8afb66906245bea6ab78aae8186a2c);
        

        marker_f862696d9bb94797bf38d7c3db9c390e.bindPopup(popup_9cef790b75274fdaa27fc180e6939714)
        ;

        
    
    
            var marker_2049f9e82bda44ff832e433e1515f53c = L.marker(
                [13.0191572, 80.2417679],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_756034015b504bd99e2ee856d651fe78 = L.popup({"maxWidth": "100%"});

        
            var html_8290dc3462be4cf1896b1d00991fa060 = $(`<div id="html_8290dc3462be4cf1896b1d00991fa060" style="width: 100.0%; height: 100.0%;">A.M.M. Matriculation Higher Secondary School</div>`)[0];
            popup_756034015b504bd99e2ee856d651fe78.setContent(html_8290dc3462be4cf1896b1d00991fa060);
        

        marker_2049f9e82bda44ff832e433e1515f53c.bindPopup(popup_756034015b504bd99e2ee856d651fe78)
        ;

        
    
    
            var marker_71a65b4adb8f47438c45a6920e9ceaed = L.marker(
                [13.0336433, 80.25051789999999],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_b914aa6b06b74651bcfe0a339a2a0f43 = L.popup({"maxWidth": "100%"});

        
            var html_8edee60ca9a9441fb3828b3370212704 = $(`<div id="html_8edee60ca9a9441fb3828b3370212704" style="width: 100.0%; height: 100.0%;">Workout with Kamlesh - Aerobics Classes in Chennai</div>`)[0];
            popup_b914aa6b06b74651bcfe0a339a2a0f43.setContent(html_8edee60ca9a9441fb3828b3370212704);
        

        marker_71a65b4adb8f47438c45a6920e9ceaed.bindPopup(popup_b914aa6b06b74651bcfe0a339a2a0f43)
        ;

        
    
    
            var marker_09a7c5241aeb4fb39b0aba4234caf4b1 = L.marker(
                [13.0213301, 80.25780809999999],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_9cb2c6857d9f4265bc698b09bd60aace = L.popup({"maxWidth": "100%"});

        
            var html_fd566ceba92d431bb328ccc05f134ac7 = $(`<div id="html_fd566ceba92d431bb328ccc05f134ac7" style="width: 100.0%; height: 100.0%;">Weebees</div>`)[0];
            popup_9cb2c6857d9f4265bc698b09bd60aace.setContent(html_fd566ceba92d431bb328ccc05f134ac7);
        

        marker_09a7c5241aeb4fb39b0aba4234caf4b1.bindPopup(popup_9cb2c6857d9f4265bc698b09bd60aace)
        ;

        
    
    
            var marker_7cfba1210cbf44948bca7293f9310b8c = L.marker(
                [13.033073, 80.25721899999999],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_83c7873570af4bbd926d83d8f6f792b0 = L.popup({"maxWidth": "100%"});

        
            var html_3cc87b879c4b41caac08c37dbf8898d2 = $(`<div id="html_3cc87b879c4b41caac08c37dbf8898d2" style="width: 100.0%; height: 100.0%;">The Music School</div>`)[0];
            popup_83c7873570af4bbd926d83d8f6f792b0.setContent(html_3cc87b879c4b41caac08c37dbf8898d2);
        

        marker_7cfba1210cbf44948bca7293f9310b8c.bindPopup(popup_83c7873570af4bbd926d83d8f6f792b0)
        ;

        
    
    
            var marker_ef155f5b61e34f9387d23075d2276772 = L.marker(
                [13.0339164, 80.2547427],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_c9abd898307342deaebabfa32057822e = L.popup({"maxWidth": "100%"});

        
            var html_45fd1006fad54cb097c135181cf81fbd = $(`<div id="html_45fd1006fad54cb097c135181cf81fbd" style="width: 100.0%; height: 100.0%;">Oyster Montessori</div>`)[0];
            popup_c9abd898307342deaebabfa32057822e.setContent(html_45fd1006fad54cb097c135181cf81fbd);
        

        marker_ef155f5b61e34f9387d23075d2276772.bindPopup(popup_c9abd898307342deaebabfa32057822e)
        ;

        
    
    
            var marker_a5dff8529b28420897bd075c4ba6e71a = L.marker(
                [13.0312772, 80.26733329999999],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_31aa602c90af4523b1b3076e31e2e46d = L.popup({"maxWidth": "100%"});

        
            var html_812acb8d47af4d1b8f4baae890479ef3 = $(`<div id="html_812acb8d47af4d1b8f4baae890479ef3" style="width: 100.0%; height: 100.0%;">Sri Ramakrishna Math Chennai</div>`)[0];
            popup_31aa602c90af4523b1b3076e31e2e46d.setContent(html_812acb8d47af4d1b8f4baae890479ef3);
        

        marker_a5dff8529b28420897bd075c4ba6e71a.bindPopup(popup_31aa602c90af4523b1b3076e31e2e46d)
        ;

        
    
    
            var marker_7e8ba8e5a8174b5aa9eab285953d7c94 = L.marker(
                [13.0292344, 80.2546745],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_f66e2f6b45154ae4876da4ee46080e44 = L.popup({"maxWidth": "100%"});

        
            var html_8c530ae856b6474f95291288fc918beb = $(`<div id="html_8c530ae856b6474f95291288fc918beb" style="width: 100.0%; height: 100.0%;">Fasttrack Kids</div>`)[0];
            popup_f66e2f6b45154ae4876da4ee46080e44.setContent(html_8c530ae856b6474f95291288fc918beb);
        

        marker_7e8ba8e5a8174b5aa9eab285953d7c94.bindPopup(popup_f66e2f6b45154ae4876da4ee46080e44)
        ;

        
    
    
            var marker_d9bc602551d443fca1e760194315cd70 = L.marker(
                [13.0381375, 80.25630249999999],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_099fd5baef324b05828f6d242a8d1eff = L.popup({"maxWidth": "100%"});

        
            var html_a2613a111f8649a5b27d49f732348505 = $(`<div id="html_a2613a111f8649a5b27d49f732348505" style="width: 100.0%; height: 100.0%;">SARASWATHI KENDRA LEARNING CENTRE FOR CHILDREN</div>`)[0];
            popup_099fd5baef324b05828f6d242a8d1eff.setContent(html_a2613a111f8649a5b27d49f732348505);
        

        marker_d9bc602551d443fca1e760194315cd70.bindPopup(popup_099fd5baef324b05828f6d242a8d1eff)
        ;

        
    
    
            var marker_61d306a555da4ef5afc837be8b811018 = L.marker(
                [13.0287967, 80.26312399999999],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_98a84a059bed48ab89e767903b9513a7 = L.popup({"maxWidth": "100%"});

        
            var html_64eafe2d62d64b2cb8aa7d3b2aef0635 = $(`<div id="html_64eafe2d62d64b2cb8aa7d3b2aef0635" style="width: 100.0%; height: 100.0%;">Vidya Niketan Association</div>`)[0];
            popup_98a84a059bed48ab89e767903b9513a7.setContent(html_64eafe2d62d64b2cb8aa7d3b2aef0635);
        

        marker_61d306a555da4ef5afc837be8b811018.bindPopup(popup_98a84a059bed48ab89e767903b9513a7)
        ;

        
    
    
            var marker_1da6b37223a449048e9492b6ce9f7a59 = L.marker(
                [13.036311, 80.2622408],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_bccfbd39db9e4c2e96733c6b9b2125c6 = L.popup({"maxWidth": "100%"});

        
            var html_d3f38b85c9cd4522a2d616e66a645403 = $(`<div id="html_d3f38b85c9cd4522a2d616e66a645403" style="width: 100.0%; height: 100.0%;">Sprouts Montessori House of Children</div>`)[0];
            popup_bccfbd39db9e4c2e96733c6b9b2125c6.setContent(html_d3f38b85c9cd4522a2d616e66a645403);
        

        marker_1da6b37223a449048e9492b6ce9f7a59.bindPopup(popup_bccfbd39db9e4c2e96733c6b9b2125c6)
        ;

        
    
    
            var marker_925f52b9cd1a409d90862d35722feb37 = L.marker(
                [13.0291298, 80.2544523],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_ff50571fa40c40daa5a301e89cea54e4 = L.popup({"maxWidth": "100%"});

        
            var html_69612a9b32c440759b0843c04d7c0775 = $(`<div id="html_69612a9b32c440759b0843c04d7c0775" style="width: 100.0%; height: 100.0%;">Alphabets</div>`)[0];
            popup_ff50571fa40c40daa5a301e89cea54e4.setContent(html_69612a9b32c440759b0843c04d7c0775);
        

        marker_925f52b9cd1a409d90862d35722feb37.bindPopup(popup_ff50571fa40c40daa5a301e89cea54e4)
        ;

        
    
    
            var marker_8c6c3850b0d4429a9759e8bd30167032 = L.marker(
                [13.0171332, 80.2598476],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_cf4308ed267843288ec0499fc213ba43 = L.popup({"maxWidth": "100%"});

        
            var html_89cb2087d86347ac9700a4bcdf44d99d = $(`<div id="html_89cb2087d86347ac9700a4bcdf44d99d" style="width: 100.0%; height: 100.0%;">I P D Orthopaedic Centre</div>`)[0];
            popup_cf4308ed267843288ec0499fc213ba43.setContent(html_89cb2087d86347ac9700a4bcdf44d99d);
        

        marker_8c6c3850b0d4429a9759e8bd30167032.bindPopup(popup_cf4308ed267843288ec0499fc213ba43)
        ;

        
    
    
            var marker_5f76da25e47e42049b3773763f5ef717 = L.marker(
                [13.0279242, 80.2582863],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_d7873db849bd4895be4d6ded88dcee06 = L.popup({"maxWidth": "100%"});

        
            var html_d0ebfe38badf4667881c833185e1654a = $(`<div id="html_d0ebfe38badf4667881c833185e1654a" style="width: 100.0%; height: 100.0%;">Corporation High School</div>`)[0];
            popup_d7873db849bd4895be4d6ded88dcee06.setContent(html_d0ebfe38badf4667881c833185e1654a);
        

        marker_5f76da25e47e42049b3773763f5ef717.bindPopup(popup_d7873db849bd4895be4d6ded88dcee06)
        ;

        
    
    
            var marker_28b85ee4a8a04803ae6c7cbdaac01614 = L.marker(
                [13.0266643, 80.26076499999999],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_e4010c978cb9494c9d08fea87ab79d2e = L.popup({"maxWidth": "100%"});

        
            var html_9540c087d7de46c098fcaa45113078a6 = $(`<div id="html_9540c087d7de46c098fcaa45113078a6" style="width: 100.0%; height: 100.0%;">Bamboola Tennis Class</div>`)[0];
            popup_e4010c978cb9494c9d08fea87ab79d2e.setContent(html_9540c087d7de46c098fcaa45113078a6);
        

        marker_28b85ee4a8a04803ae6c7cbdaac01614.bindPopup(popup_e4010c978cb9494c9d08fea87ab79d2e)
        ;

        
    
    
            var marker_5f23a567b9d3448080dd004095a2b9ff = L.marker(
                [13.0213131, 80.2578408],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_a5cfb3d8b6f84742b0b22891a33ac2b2 = L.popup({"maxWidth": "100%"});

        
            var html_5f7697c1cef94d74a6c607a9a1d08b9f = $(`<div id="html_5f7697c1cef94d74a6c607a9a1d08b9f" style="width: 100.0%; height: 100.0%;">Weebee</div>`)[0];
            popup_a5cfb3d8b6f84742b0b22891a33ac2b2.setContent(html_5f7697c1cef94d74a6c607a9a1d08b9f);
        

        marker_5f23a567b9d3448080dd004095a2b9ff.bindPopup(popup_a5cfb3d8b6f84742b0b22891a33ac2b2)
        ;

        
    
    
            var marker_8efb560f34be44ac8d42b8dce4f5ec15 = L.marker(
                [13.029065, 80.258557],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_6355f2f641204883b12b91cbe64ecf15 = L.popup({"maxWidth": "100%"});

        
            var html_990d7172790046278c625a5d1091fb04 = $(`<div id="html_990d7172790046278c625a5d1091fb04" style="width: 100.0%; height: 100.0%;">Pink Fitness - Ladies Gym RA puram</div>`)[0];
            popup_6355f2f641204883b12b91cbe64ecf15.setContent(html_990d7172790046278c625a5d1091fb04);
        

        marker_8efb560f34be44ac8d42b8dce4f5ec15.bindPopup(popup_6355f2f641204883b12b91cbe64ecf15)
        ;

        
    
    
            var marker_b40802477ad14d5a8f4d496f2e39b506 = L.marker(
                [13.0294237, 80.25674339999999],
                {}
            ).addTo(map_acfd337e67fd4cfea6bfd3bf7a3a12a1);
        
    
        var popup_3679b410a53c4b9b9fc9d20ddc0eacbe = L.popup({"maxWidth": "100%"});

        
            var html_b1b66e42649147e483b451512d1b4390 = $(`<div id="html_b1b66e42649147e483b451512d1b4390" style="width: 100.0%; height: 100.0%;">M.S.M. Dance School</div>`)[0];
            popup_3679b410a53c4b9b9fc9d20ddc0eacbe.setContent(html_b1b66e42649147e483b451512d1b4390);
        

        marker_b40802477ad14d5a8f4d496f2e39b506.bindPopup(popup_3679b410a53c4b9b9fc9d20ddc0eacbe)
        ;

        
    
</script>