{% extends "Layouts/layout.html" %}
{% block content %}
<main>
    <!--? slider Area Start-->
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div style="margin-top: 15px;" class="hero__caption">
                                <h1 data-animation="bounceIn" data-delay="0.2s">Schools Near You</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <iframe src="/skl" frameborder="0" height = "1000px" width = "1000px"></iframe>
    <!-- Courses area start -->
    <div class="courses-area section-padding40 fix">
        <div class="container">
            <div class="row justify-content-center">

            </div>
        </div>
    </div>

</main>
{% endblock %}