<footer>
    
    <div style="padding: 30px; text-align: center; color: aliceblue; font-size: 1.5rem;font-weight: 500;"
        class="footer-wrappper footer-bg">
        <footer class="container-sm text-center site-footer py-5">
            <span>Designed with <i style="color: red;" class="fa fa-heart"></i> by <i style="color: yellow;">Hacker
                    House</i>
                <br>
                <br>
                Copyright &copy; 2020-3010
            </span>
        </footer>
    </div>

    <!-- Footer End-->

</footer>
<!-- Scroll Up -->
<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


<!-- Additional Scripts -->
<script src="assets/js/custom.js"></script>
<script src="assets/js/owl.js"></script>
<script src="assets/js/slick.js"></script>
<script src="assets/js/isotope.js"></script>
<script src="assets/js/accordions.js"></script>


<script language = "text/Javascript"> 
  cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
  function clearField(t){                   //declaring the array outside of the
  if(! cleared[t.id]){                      // function makes it static and global
      cleared[t.id] = 1;  // you could use true and false, but that's more typing
      t.value='';         // with more chance of typos
      t.style.color='#fff';
      }
  }
</script>
<!-- JS here -->
<script src="../static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="../static/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="../static/assets/js/popper.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="../static/assets/js/jquery.slicknav.min.js"></script>
<!-- Video bg -->
<script src="../static/assets/js/jquery.vide.js"></script>
<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="../static/assets/js/owl.carousel.min.js"></script>
<script src="../static/assets/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="../static/assets/js/wow.min.js"></script>
<script src="../static/assets/js/animated.headline.js"></script>
<script src="../static/assets/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="../static/assets/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="../static/assets/js/jquery.nice-select.min.js"></script>
<script src="../static/assets/js/jquery.sticky.js"></script>
<!-- Progress -->
<script src="../static/assets/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="../static/assets/js/jquery.counterup.min.js"></script>
<script src="../static/assets/js/waypoints.min.js"></script>
<script src="../static/assets/js/jquery.countdown.min.js"></script>
<script src="../static/assets/js/hover-direction-snake.min.js"></script>


<!-- Jquery Plugins, main Jquery -->
<script src="../static/assets/js/plugins.js"></script>
<script src="../static/assets/js/main.js"></script>