<!-- Header Start -->
<div class="header-area header-transparent">
    <div class="main-header ">
        <div class="header-bottom  header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <!--    <a href="/"><img src="{{url_for('static',filename='assets/img/logo/logos.png')}}" alt="" height="50px"></a>
                          -->
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <div class="menu-wrapper d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li class="active"><a href="/">Home</a></li>
                                        <li><a href="/near">Near me</a></li>
                                        <l1><a href="/schools">Apply </a></li>
                                        <li><a href="/about">About us</a></li>
                                        
                                        <l1><a href="/contact"> Contact </a></li>
                                        <!--   <li><a href="#">Blog</a>
                                              <ul class="submenu">
                                                  <li><a href="/blog">Blog</a></li>
                                                  <li><a href="blog_details.html">Blog Details</a></li>
                                                  <li><a href="elements.html">Element</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="/contact">Contact</a></li> -->
                                        <!-- Button -->
                                        {% if current_user.is_anonymous %}
                                        <li class="button-header margin-left "><a href="/register" class="btn">Join</a>
                                        </li>

                                        <li class="button-header"><a href="/login" class="btn btn3">Log in</a></li>
                                        {% else %}
                                        <li><a href="/user/{{ current_user.username }}">Profile</a></li>
                                        <li class="button-header"><a href="/logout" class="btn btn3">Log out</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->