<nav>
    <ul id="navigation">                                                                                          
       <li class="active" ><a href="/">Home</a></li>
       <li><a href="courses.html">Courses</a></li>
       <li><a href="about.html">About</a></li>
       <li><a href="#">Blog</a>
          <ul class="submenu">
             <li><a href="blog.html">Blog</a></li>
             <li><a href="blog_details.html">Blog Details</a></li>
             <li><a href="elements.html">Element</a></li>
          </ul>
       </li>
       <li><a href="contact.html">Contact</a></li>
       <!-- Button -->
       <li class="button-header margin-left "><a href="/register" class="btn">Join</a></li>
       <li class="button-header"><a href="/login" class="btn btn3">Log in</a></li>
    </ul>
 </nav>