{% extends "layout.html" %}
   
    {% block content %}
<h1>Yes, I wrote these articles</h1>

<div id="retainable-rss-embed" 

data-rss="https://medium.com/feed/@anush.venkatakrishna"
data-maxcols="3" 
data-layout="grid" 
data-poststyle="outline" 
data-readmore="Continue Reading" 
data-buttonclass="btn btn-primary" 
data-offset="-100"></div>
<div id="retainable-rss-embed" 
data-rss="https://medium.com/feed/@akshita2k"
data-maxcols="3" 
data-layout="grid" 
data-poststyle="outline" 
data-readmore="Continue Reading" 
data-buttonclass="btn btn-primary" 
data-offset="-100"></div>
<script src="https://www.retainable.io/assets/retainable/rss-embed/retainable-rss-embed.js"></script>

 {% endblock %}